* {
    margin: 10px;
}

.title1 {
    font-family: 'Dancing Script', cursive;
}

p {
    font-family: 'Pangolin', cursive;
}

.title2 {
    font-family: 'Dancing Script', cursive;
}

.list {
    font-family: 'Pangolin', cursive;
}