* {
    margin: 10px;
}

.title1 {
    font-family: 'Dancing Script', cursive;
}

#red-eyed-tree-frog {
    float: right;
    margin-right: 500px;
}

p {
    font-family: 'Pangolin', cursive;
}

.title2 {
    font-family: 'Dancing Script', cursive;
}

.list {
    font-family: 'Pangolin', cursive;
}